*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
app/release
app/blue/release/app.aab
.project
.settings/org.eclipse.buildship.core.prefs
app/.classpath
app/.project
app/.settings/org.eclipse.buildship.core.prefs
app/.settings/org.eclipse.jdt.core.prefs
